.navbar {
    position: fixed;
    width: 84%;
    height: fit-content;
    background-color: var(--bg);
    border: 1px solid var(--border-cont);
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    top: 1%;
    left: 14%;
    font-size: 35px;
    z-index: 1000;
}


/* Nav-btns ichidagi elementlar ham yonma-yon turishi uchun */
.nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}



#logotip {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.word-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}