.navbar {
    position: fixed;
    width: 84%;
    height: fit-content;
    background-color: var(--bg);
    border: 1px solid var(--border-cont);
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    top: 1%;
    left: 14%;
    font-size: 35px;
    z-index: 1000;
}


/* Nav-btns ichidagi elementlar ham yonma-yon turishi uchun */
.nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}



#logotip {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.word-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.theme-menu{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 10;
    background-color: white;
    border: 1px solid;
  }
  










  @media (max-width: 850px) {

    .navbar {
        position: fixed;
        width: 84%;
        height: fit-content;
        background-color: var(--bg);
        border: 1px solid var(--border-cont);
        padding: 1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

  }
  
  
  @media (max-width:500px) {
    .navbar {
        position: fixed;
        width: 84%;
        height: fit-content;
        background-color: var(--bg);
        border: 1px solid var(--border-cont);
        padding: 1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    
  }
  
  