.navbar {
    position: fixed;
    width: 84vw;
    height: 3rem;
    background: var(--nav-said);
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 1%;
    left: 14%;
    font-size: 35px;
    z-index: 1000;
 
}

/* Nav-btns ichidagi elementlar ham yonma-yon turishi uchun */
.nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-open .navbar{
    width: 93%;
    left: 5%;
}



.saidbar-btn{
    display: none;
}
/* madinabonu logotipi */
#logotip {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.word-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.darkMode-btn{
    background: none;
    border: none;
}

.theme-cont{
    width: 40px;
    height: 19px;
    border: 1px solid var(--bg-cont);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 1px;
} 
.theme-cont.theme-light .theme-toggle{
    transform: translateX(1px);
    transition: 500ms;
}

.theme-toggle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: white;
    transform: translateX(20px);
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}








  @media (max-width: 850px) {

    .navbar {
        width: 85vw;
        position: fixed;
        height: fit-content;
        background-color: var(--nav-said);
        border: 1px solid var(--border-cont);
        padding: 1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        left: 90px;

    }
    .saidbar-btn{
        display: inline;
        background-color: var(--nav-said);
        
    }
    
    .section-open .navbar{
        width: 89%;
        left: 0.5%;
    }
    
  }
  
  
  @media (max-width:500px) {
    .navbar {
        width: 92vw;
        position: fixed;
        height: fit-content;
        background-color: var(--nav-said);
        border: 1px solid var(--border-cont);
        padding: 1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .saidbar-btn{
        display: inline;
    }

    .section-open .navbar{
        width: 89.5%;
        left: 0.5%;
    }
    
  }
  
  