.navbar {
    position: sticky;
    width: 98%;
    height: 3rem;
    background: var(--nav-said);
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    z-index: 1000;
    top: 1%;
    border: 1px solid red;
}

/* Nav-btns ichidagi elementlar ham yonma-yon turishi uchun */
.nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}



.navbar .toggle {
    display: none;
}



.saidbar-btn {
    display: none;
}

/* madinabonu logotipi */
#logotip {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.word-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.darkMode-btn {
    background: none;
    border: none;
}

.theme-cont {
    width: 40px;
    height: 19px;
    border: 1px solid var(--toggle-cont-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 1px;
}

.theme-cont.theme-light .theme-toggle {
    transform: translateX(1px);
    transition: 500ms;
}

.theme-toggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: white;
    transform: translateX(20px);
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--toggle-color);
}








@media (max-width: 850px) {

    .navbar {
        width: 100%;
        position: fixed;
        height: fit-content;
        background-color: var(--nav-said);
        border: 1px solid var(--border-cont);
        padding: 1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* top: 10px; */
        /* left: 245px; */

    }

    .saidbar-btn {
        display: inline;
        background-color: var(--nav-said);

    }



}


@media (max-width:500px) {
    .navbar {
        width: 92vw;
        position: fixed;
        height: fit-content;
        background-color: var(--nav-said);
        border: 1px solid var(--border-cont);
        padding: 1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .saidbar-btn {
        display: inline;
    }

    .section-open .navbar {
        width: 89.5%;
        left: 0.5%;
    }

    .navbar .toggle {
        display: flex;
    }


}