.navbar-cont {
    position: fixed;
    width: 100vw;
    height: 3rem;
    top: 1%;
   right: 0;
   display: flex;
   justify-content: flex-end;
   margin-right: 20px;
   z-index: 500;
}
.navbar{
    
    height: 3rem;
    background: var(--nav-side);
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    
}

/* Nav-btns ichidagi elementlar ham yonma-yon turishi uchun */
.nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}



.navbar .toggle {
    display: none;
}



.sidebar-btn {
    display: none;
}

/* madinabonu logotipi */
#logotip {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.word-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.darkMode-btn {
    background: none;
    border: none;
}

.theme-cont {
    width: 40px;
    height: 19px;
    border: 1px solid var(--toggle-cont-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 1px;
}

.theme-cont.theme-light .theme-toggle {
    transform: translateX(1px);
    transition: 500ms;
}

.theme-toggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: white;
    transform: translateX(20px);
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--toggle-color);
}








@media (max-width: 850px) {
    

    .navbar{
        
        min-width: 86.5% !important;
        height: 3rem;
        background: var(--nav-side);
        border: 1px solid var(--border-cont);
        padding:1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 35px;
        /* z-index: 1000; */
        
    }
    
    .navbar-cont {
        position: fixed;
        width: 94.5vw;
        height: 3rem;
        top: 1%;
       right: 0;
       display: flex;
       justify-content: flex-end;
       margin-right: 30px;
       z-index: 500;
    }
    .sidebar-btn {
        display: inline;
        background-color: var(--nav-side);
        
    }
    
    
    
}


@media (max-width:500px) {
    .navbar{
        height: 3rem;
        background: var(--nav-side);
        border: 1px solid var(--border-cont);
        /* border: 1px solid red; */
        padding:1rem;
        border-radius: 0.4rem;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 35px;
        
    }
    
    .navbar-cont {
        position: fixed;
        width: 102.5vw;
        height: 3rem;
        top: 1%;
       right: 0;
       display: flex;
       justify-content: flex-end;
       margin-right:15px;
       /* padding-right:50px; */
       z-index: 1000;
    }
    
    .sidebar-btn {
        display: inline;
    }


    .navbar .toggle {
        display: flex;
    }


}