
/* umumiy saidbarga berilgan stil */
.sidebar {
    width: 14rem;
    height: 100vh;
    position: fixed;
    background: var(--nav-said);
    padding: 1rem;
    top: 1%;
    border-radius: 0.4rem;
    z-index: 30; 
}
/* yopilganda berilgan stil */
.sidebar-open{
    width: 2rem;
}
/* sahifalar va uni yonidagi btnni o'rab turgan div */
.saidbarBtn-word{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* saidbardagi menyularni o'rab turgan div */
.menus {
    padding-top: 1.5rem;
    
}
/* nomlarni yonidagi iconlar menulardagi */
.sidebar-icon{
    width: 30px;
    height: 30px;
}
/* har bitta menyuni o'rab turgan div */
.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 20px;
    padding: 0.4rem;
    text-decoration: none;
    color: var(--text);
}
/*  */
.tag{
    color: var(--toggle-color);
}
/* saidbardagi btn */
.saidbarBtn{
    border: none;
    background: none;
    color: var(--text-cont);

}

/* saidbar btnga berilgan yangi stil */
.toggle {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    /* border: 1px solid var(--toggle-cont-color); */
    /* background: #fff; */
    /* box-shadow: 0px 10px 20px rgba(180, 180, 180, 0.08); */
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    overflow: hidden;
}

.toggle span {
    position: absolute;
    width: 20px;
    height: 4px;
    background: var(--toggle-color);
    border-radius: 10px;
    transition: 0.3s;
}

.toggle span:nth-child(1) {
    transform: translateY(-10px);
    width: 20px;
    left: 1px;
}

.toggle.active span:nth-child(1) {
    width: 20px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
    transform: translateY(10px);
    width: 20px;
    left: 1px;
}

.toggle.active span:nth-child(2) {
    width: 20px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
    transform: translateX(60px);
}


.saidbar .toggle{
    display: inline;
}


@media (max-width: 850px) {
    .sidebar {
        width: 210px;
        height: 100vh;
        position: fixed;
        background-color: var(--nav-said);
        border: 1px solid var(--border-cont);
        padding-top: 100px;
        top: 1%;
        border-radius: 0.4rem;
        transform: translateX(0);
        transition: 500ms;
    }
    .sidebar-open{
        width: 50px;
    }
    .menu {
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        font-size: 20px;
        padding: 0.4rem;
        text-decoration: none;
    }
    
    .menu span{
        color: var(--text-cont);
    } 


    .menus {
        padding-top: 1.5rem;
      
    }
    .tag{
        color: grey;
        display: none;
    }
    .saidbarBtn{
        display: none;
    }
}


@media (max-width:500px) {
    .sidebar {
        width: 210px;
        height: 100vh;
        position: fixed;
        background-color: var(--nav-said);
        border: 1px solid var(--border-cont);
        padding-top: 100px;
        top: 1%;
        border-radius: 0.4rem;
        transform: translateX(0);
        transition: 500ms;
    }
    
    .sidebar-open{
        transform:translateX(-100%) ;
        background-color: var(--nav-said);
    }
    .tag{
        color: grey;
        display: none;
    }
    
    .saidbarBtn{
        display: none;
    }
    .sidebar .toggle{
        display: none;
    }
   
}

