.sidebar {
    width: 11.5vw;
    height: 100vh;
    position: fixed;
    background-color: var(--bg);
    border: 1px solid var(--border-cont);
    padding: 1rem;
    top: 1%;
    border-radius: 0.4rem;
}



.menus {
    padding-top: 1.5rem;
    
}

.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 20px;
    padding: 0.4rem;
    text-decoration: none;
    color: var(--text-cont);
}

.tag{
    color: grey;
}




@media (max-width: 850px) {

    

}


@media (max-width:500px) {

}

