.sidebar {
    width: 11.5vw;
    height: 100vh;
    position: fixed;
    background-color: var(--bg);
    border: 1px solid var(--border-cont);
    padding: 1rem;
    top: 1%;
    border-radius: 0.4rem;
}
.sidebar-open{
    width: 2vw;
}

.saidbarBtn-word{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.menus {
    padding-top: 1.5rem;
    
}

.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 20px;
    padding: 0.4rem;
    text-decoration: none;
    color: var(--text-cont);
}

.tag{
    color: grey;
}
.saidbarBtn{
    background-color: var(--bg);

}



@media (max-width: 850px) {
    .sidebar {
        width: 210px;
        height: 100vh;
        position: fixed;
        background-color: var(--bg);
        border: 1px solid var(--border-cont);
        padding-top: 100px;
        top: 1%;
        border-radius: 0.4rem;
        transform: translateX(0);
        transition: 500ms;
    }
    .sidebar-open{
        width: 50px;
    }
    .menu {
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        font-size: 20px;
        padding: 0.4rem;
        text-decoration: none;
        color: var(--text-cont);
    }

    .menus {
        padding-top: 1.5rem;
      
    }
    .tag{
        color: grey;
        display: none;
    }
    .saidbarBtn{
        display: none;
    }
}


@media (max-width:500px) {
    .sidebar {
        width: 210px;
        height: 100vh;
        position: fixed;
        background-color: var(--bg);
        border: 1px solid var(--border-cont);
        padding-top: 100px;
        top: 1%;
        border-radius: 0.4rem;
        transform: translateX(0);
        transition: 500ms;
    }
    
    .sidebar-open{
        transform:translateX(-100%) ;
    }
    .tag{
        color: grey;
        display: none;
    }
    
    .saidbarBtn{
        display: none;
    }
}

