.single-page {
    width: 99%;
    height: 1080px;
    padding-top: 100px;
}



.full-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.full-info-cont1 {
    width: 98.5%;
    height: 100%;
    background: var(--nav-side);
    padding: 1rem;
    border-radius: 0.4rem;
}

.full-info-cont2 {
    width: 98%;
    height: 100%;
    background: var(--nav-side);
    padding: 1rem;
    border-radius: 0.4rem;
    
    
}

.basic-information {
    width: 98%;
    height: 5%;
    background: var(--bg-cont);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 2px;
    color: var(--info);
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 30px;
    padding-left: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.inner-cont-1 {
    width: 96%;
    height: 30%;
    display: flex;
    gap: 10px;
    background: var(--bg-cont);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    margin-bottom: 20px;
  
}


.for-picture {
    flex: 2;
    height: 100%;
    background: var(--nav-side);
    border-radius: 1.5rem;
    
    
}

.for-short-inf {
    flex: 3;
    height: 100%;
    
    background: var(--nav-side);
    border-radius: 1.5rem;
}

.inner-cont-2{
    width: 100%;
    height: 40%;
    
    background: var(--bg-cont);
    border-radius: 1rem;
    margin-bottom: 20px;
    
}
.inner-cont-3{
    width: 100%;
    height: 30%;
    
    background: var(--bg-cont);
    border-radius: 1rem;

}






.inner-cont1{
    
}
.inner-cont2{

}
.inner-cont3{
    
}


@media (max-width: 850px){
    
    .single-page {
        width: 99%;
        height: 1400px;
        padding-top: 20px;
    }
    .full-info {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .single-page {
        width: 95%;
        padding-top: 100px;
    }
    .basic-information {
        width: 98%;
        height: 10%;
        background: var(--bg-cont);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin-bottom: 2px;
        color: var(--info);
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 30px;
        padding-left: 1rem;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .full-info-cont1 {
        width: 98.5%;
        height: 100%;
        background: var(--nav-side);
        padding: 1rem;
        border-radius: 0.4rem;
        
    }
    
    .full-info-cont2 {
        width: 98.5%;
        height: 100%;
        background: var(--nav-side);
        padding: 1rem;
        border-radius: 0.4rem;
        margin-top: 20px;
        
    }
    .inner-cont-1 {
        width: 95.7%;
        height: 30%;
        display: flex;
        gap: 10px;
        background: var(--bg-cont);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 1rem;
        margin-bottom: 20px;
       
    }
    
}