/* .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Background blur */
    backdrop-filter: blur(5px); /* bu blur effekt beradi */
    background-color: rgba(0, 0, 0, 0.4); /* biroz qorong‘i qatlam */
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }
  
  
  .modalContent {
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:none;
    border: 3px solid var(--toggle-color);
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;
  }
  