.card {
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    
}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    align-items: start;
    justify-content: center;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
    border-radius: 15px;
    
}

.card .face.front {
    background-color: rgba(209, 120, 231, 0.281);
    backdrop-filter: blur(1px);               
    -webkit-backdrop-filter: blur(1px);
    color: white;
    
    
}

.card .face.back {
    color: aqua;
    transform: perspective(500px) rotateY(180deg);
    text-align: start;
    background-color: rgba(125, 46, 145, 0.281);
    backdrop-filter: blur(1px);               
    -webkit-backdrop-filter: blur(1px);
    border: 3px solid aqua;
    
    
    
    
}


.full-info {
    
    border-radius: 15px;

}

.card:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back {
    transform: perspective(500px) rotateY(360deg) translate3d(-30px,-50px,0);
}



.card .face.back h2 {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);

}

.card .face .pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);

}