.card 
{
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    border-radius: 15px;
}

.card .face 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.card .face.front 
{
    background:#ff0 ;
    color: red;
}

.card .face.back{
    background:#3bc2ff;
    color: black;
    transform: perspective(500px) rotateY(180deg);

}

.card:hover .face.front
 {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back
{
    transform: perspective(500px) rotateY(360deg);
}


.card .face.back h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);

}

.card .face h4
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);

}




