 .course-list {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     align-items: center;
     gap: 60px;
     margin-top: 50px;

 }
 .card {
    position: relative;
    height: 400px;
 padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-said);
    border-radius: 2rem;

}


.dataToggle:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow:
        0 5px 12px rgba(0, 0, 0, 0.15),
        0 0 10px rgba(142, 45, 226, 0.5);
    filter: brightness(1.1);
}
.card .face.front {
    color: var(--card-text);
    background: var(--nav-said);
}

 .dataToggle {
     width: 100%;
     padding: 0.5rem;
     font-size: 20px;
     font-weight: 500;
     border: none;
     border-radius: 6px;
     color: white;
     cursor: pointer;
     margin-top: 10px;
     background-color: var(--toggle-color);
     transition: all 0.3s ease-in-out;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 
.picture-cont{
    width: 300px;
    overflow: hidden;
    border-radius: 1rem;
}
 .pictures {
     width: 400px;
margin-left: -20%;
     border-radius: 0.4rem;
     
 }




 @media (max-width:850px) {
     .course-list {
         display: grid;
         grid-template-columns: repeat(2, auto);
         justify-content: center;
         align-items: center;

     }

     .card {
         position: relative;
         width: 390px;
         height: 400px;
         transform-style: preserve-3d;
         border-radius: 15px;
     }



     .pictures {
         width: 330px;
         height: 260px;
         border-top-left-radius: 0.4rem;
         border-top-right-radius: 0.4rem;

     }

     section {
         padding-left: 10rem !important;
     }

 }

 @media (max-width:500px) {
     .course-list {
         display: grid;
         grid-template-columns: repeat(1, auto);
         justify-content: center;
         align-items: center;
         gap: 50px;

     }



     .card {
         position: relative;
         width: 500px;
         height: 400px;
         transform-style: preserve-3d;
         border-radius: 15px;
     }


     .pictures {
         width: 20px;
         height: 310px;
         border-top-left-radius: 0.4rem;
         border-top-right-radius: 0.4rem;

     }

     .card .face.front .teacher-info {
         position: absolute;
         bottom: 0;
         text-align: start;
     }

     .course-list {
         width: 100%;

     }

     section {
         padding-left: 0 !important;
     }


 }