 .course-list {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     align-items: center;
     gap: 30px;
     margin-top: 100px;
     margin-right: 10px;

 }
 .card {
     position: relative;
     height: 420px;
     padding: 1rem;
     display: flex;
     align-items: start;
     justify-content: start;
     gap: 10px;
     background-color: var(--nav-side);
     border-radius: 2rem;
     font-size: 25px;

 }


 .card-mobile{
    display: none;
 }


 .infos {
     line-height: 40px;
     font-weight: bolder;
 }

 .inf {
     color: var(--info);
     font-size: 25px;
     font-weight: normal;

 }

 .short-info {
     width: 60%;
     height: 92%;
     background: var(--bg-cont);
     border-radius: 1rem;
     padding: 1rem;
     display: inline;
 }

 .extra {
     width: 95%;
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 10px;
     border-radius: 0.8rem;
     margin-top: 10px;
     padding: 0.5rem;
     background-color: var(--nav-side);
     padding-left: 1rem;

 }

 .filial {
     top: 0;
     font-size: 22px;
     line-height: 30px;
     flex: 1;
     height: fit-content;
     background-color: var(--nav-side);
     padding: 1rem;
     border-radius: 1.5rem;
 }

 .days {
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 8px;
 }



 .lesson-days {

     width: 100%;
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 20px;
 }



 .dataToggle:hover {
     transform: translateY(-2px) scale(1.03);
     box-shadow:
         0 5px 12px rgba(0, 0, 0, 0.15),
         0 0 10px rgba(142, 45, 226, 0.5);
     filter: brightness(1.1);
 }

 .card .face.front {
     color: var(--card-text);
     background: var(--nav-side);
 }

 .dataToggle {
     width: 100%;
     padding: 0.5rem;
     font-size: 20px;
     font-weight: 500;
     border: none;
     border-radius: 0.8rem;
     color: white;
     cursor: pointer;
     margin-top: 10px;
     background-color: var(--toggle-color);
     transition: all 0.3s ease-in-out;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }


 .picture-cont {
     width: 350px;
     height: 99%;
     overflow: hidden;
     border-radius: 1rem;

 }

 .pictures {
     width: 400px;
     height: 420px;
     margin-left: -15%;
     border-radius: 0.4rem;

 }




 @media (max-width:850px) {
     .course-list {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         justify-content: start;
         align-items: center;
         margin-top: 100px;

     }

     .card {
         position: relative;
         width: 90.5%;
         height: fit-content;
         transform-style: preserve-3d;
         border-radius: 15px;
         overflow-x: hidden;
     }
     
     section {
         padding-left: 5.5rem !important;
        }
        
        
        .picture-cont {
         width: 350px;
         height: 90%;
         overflow: hidden;
         border-radius: 1rem;
         
        }
    }
    
    @media (max-width:500px) {
        .course-list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 0.5rem;
            overflow-x: hidden !important;
            margin-top: 30px !important;
        }
        .card-mobile {
            position: relative;
            width: 95%;
            height: 100vw;
            border-radius: 1rem;
            /* border: 1px solid red; */
            display: block;
            background-size: cover; 
            background-position: center;
            margin-left: 15px;
         }

         .card-mobile .dataToggle{
position: absolute;
bottom: 0;
         }
        /* .container-cards{
            width: 500px;
            padding: 1rem;

        } */
        .card {
        display: none;
        }

     section {
         padding-left: 0 !important;
     }

     .short-info {
         width: 400px;
         background: var(--bg-cont);
         border-radius: 1.5rem;
         padding: 1rem;
         display: none;
     }



 }