 .course-list {
     display: grid;
     grid-template-columns: repeat(3, auto);
     justify-content: center;
     align-items: center;
     gap: 60px;
     margin-left: 15vw;
     margin-top: 50px;

 }

 .dataToggle:hover {
     transform: translateY(-2px) scale(1.03);
     box-shadow:
         0 5px 12px rgba(0, 0, 0, 0.15),
         0 0 10px rgba(142, 45, 226, 0.5);
     filter: brightness(1.1);
 }

 .dataToggle {
     width: 100%;
     padding: 0.5rem;
     font-size: 20px;
     font-weight: 500;
     border: none;
     border-radius: 6px;
     color: white;
     cursor: pointer;
     margin-top: 10px;
     background: linear-gradient(135deg, #8E2DE2, #4A00E0);
     transition: all 0.3s ease-in-out;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }


 .card {
     width: 600px;
     position: relative;
     height: 400px;
     transform-style: preserve-3d;
     border-radius: 15px;
 }

 .card .face h4 {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 10px;
     text-transform: uppercase;
     transform: perspective(500px) translateZ(50px);

 }

 .full-info h2 {
     line-height: 2;
 }

 .section-open .course-list {
     width: 91%;
     margin-left: 7.5%;
 }

 /* old qismi */
 .card .face {
     position: absolute;
     top: 0;
     left: 0;
     /* width: 300px; */
     height: 100%;
     transform-style: preserve-3d;
     display: flex;
     align-items: center;
     justify-content: center;
     backface-visibility: hidden;
     transition: 2s ease-in-out;
     transform: perspective(500px) rotateY(0deg);

 }

 .card .face.front {
     color: rgb(22, 21, 21);
     width: 100%;
 }

 .card:hover .face.front {
     transform: perspective(500px) rotateY(180deg);
 }

 .card .face.front .teacher-info {
     position: absolute;
     bottom: 0;
     text-align: center;
 }


 /* orqa qismi */

 .card:hover .face.back {
     transform: perspective(500px) rotateY(360deg);
 }

 .card .face.back h2 {

     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 10px;
     text-transform: uppercase;
     transform: perspective(500px) translateZ(50px);

 }

  .card .face.back {

     color: black;
     transform: perspective(500px) rotateY(180deg);
     padding: 2rem;

 }

 /* o'qituvchilarni rasmi uchun berilgan stil */
 .pictures {
     width: 80%;
     height: 70%;
     border-radius: 0.4rem;
     position: fixed;
     transform: perspective(500px) translateZ(50px);



 }


 /* kerakli ammo keraksiz */
 /* .data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */
 /* .title-and-btn {
    padding-left: 1rem;
    padding-right: 1rem;
   } */
 /* .card-open {
     height: 800px;
 } */
 /* .course-card-cont h2:first-child {
     margin-top: 10px;
 } */


 @media (max-width:850px) {
     .course-list {
         display: grid;
         grid-template-columns: repeat(2, auto);
         justify-content: center;
         align-items: center;
         gap: 20px;

     }
     .section-open .course-list {
        width: 93%;
        padding-left: 7%;(!important)
    }

    .card {
        position: relative;
        width: 430px;
        height: 400px;
        transform-style: preserve-3d;
        border-radius: 15px;
    }



     .pictures {
         width: 360px;
         height: 210px;
         border-top-left-radius: 0.4rem;
         border-top-right-radius: 0.4rem;

     }



 }

 @media (max-width:500px) {
     .course-list {
         display: grid;
         grid-template-columns: repeat(1, auto);
         justify-content: center;
         align-items: center;
         gap: 50px;
         margin-left: 2px;

     }



     .card {
         position: relative;
         width: 500px;
         height: 400px;
         transform-style: preserve-3d;
         border-radius: 15px;
     }


     .pictures {
         width: 300px;
         height: 310px;
         border-top-left-radius: 0.4rem;
         border-top-right-radius: 0.4rem;

     }
     .card .face.front .teacher-info {
        position: absolute;
        bottom: 0;
        text-align: start;
    }

    .section-open .course-list {
        width: 93%;
    }
   

 }