.course-list{
    display: grid;
    grid-template-columns: repeat(3 ,auto);
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 15vw;

}





.course-card{
    width: 400px;
    height: 300px;
    border-radius: 0.4rem;
    background-color: var(--bg);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.39);
}


.title-and-btn{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pictures{
    width: 400px;
    height: 210px;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    
}

@media (max-width:850px)  {
    .courses-card{
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: center;
        align-items: center;
        gap: 50px;
    } 
    .course-card{
        width: 350px;
        height: 300px;
        border-radius: 0.4rem;
        background-color: var(--bg);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.39);
    }

    .pictures{
        width: 350px;
        height: 210px;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;               
        
    }
    
}
@media (max-width:500px)  {
    .course-list{
        display: grid;
        grid-template-columns: repeat( 1,auto);
        justify-content: center;
        align-items: center;
        gap: 50px;
    } 

    .course-card{
        width: 400px;
        height: 300px;
        border-radius: 0.4rem;
        background-color: var(--bg);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.39);
    }

    .pictures{
        width: 400px;
        height: 210px;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        
    }
}
   
   