*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

/* ranglar almashinuvi uchun berilgan stillar */

:root {
  --text:white;
  --text1: #cec2c2f2;
  --text2: #E9033A;
  --bg:linear-gradient(180deg, #1e3a5f 0%, #111827 100%) ;
  --bg-cont: #000000;
  --border: #363636;
  --text-cont: #cac7c7bf;
  --glass-bg: #000000BF;
  --border-cont:#333333;
  --text-cont1: #FFFFFF80;
  --bg-del: #0D0D0D;
  --shadow:rgba(16, 83, 95, 0.322);
  
}

[data-theme="dark"] {
  --text: rgb(43, 39, 39);
  --text1: #a3a0a0f2;
  --text2: #E9033A;
  --bg:linear-gradient(180deg, #F0E5EF 0%, #ffffff 100%);
  --bg-cont: white;
  --border: #F0F0F0;
  --text-cont: #423e3ebf;
  --glass-bg: #000000BF;
  --border-cont: #CECECE;
  --text-cont1: #00000080;
  --bg-del:#fdfbfb;
  --shadow:rgba(128, 15, 103, 0.25);
  --card-bg:linear-gradient(180deg, #7C2AE8 0%, #B983FF 45%, #FFFFFF 100%);

}


body {
  font-family: cursive;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-cont);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

section{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}


.section-open{
  padding-left: 0;
}


.theme-menu{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
  background-color: white;
  border: 1px solid;
  top: 75px;
  /* left: 70%; */
  right: 0;
}

.about-page{
  width: 100%;
  padding-left: 23vw;
  padding-top:10vw ;
}

@media (max-width:500px) {
  section{
    padding-top: 4rem;
   
  }
   
}