*{
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;

}

/* ranglar almashinuvi uchun berilgan stillar */

:root {
  --text:white;
  --text1: #cec2c2f2;
  --text2: #E9033A;
  --bg: #1A1A1A;
  --bg-cont: #000000;
  --border: #363636;
  --text-cont: #cac7c7bf;
  --glass-bg: #000000BF;
  --border-cont:#333333;
  --text-cont1: #FFFFFF80;
  --bg-del: #0D0D0D;
}

[data-theme="dark"] {
  --text: rgb(43, 39, 39);
  --text1: #a3a0a0f2;
  --text2: #E9033A;
  --bg: #F8FAFC;
  --bg-cont: white;
  --border: #F0F0F0;
  --text-cont: #423e3ebf;
  --glass-bg: #000000BF;
  --border-cont: #CECECE;
  --text-cont1: #00000080;
  --bg-del:#fdfbfb;

}


body {
  font-family: cursive;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-cont);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

section{
  padding-top: 3rem;
  /* padding-left: 6vw !important; */
  display: flex;
  justify-content: center;

}



.theme-menu{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
  background-color: white;
  border: 1px solid;
  top: 75px;
  /* left: 70%; */
  right: 0;
}

.about-page{
  width: 100%;
  padding-left: 23vw;
  padding-top:10vw ;
}

@media (max-width:500px) {
  section{
    padding-top: 3rem;
    /* padding-left: 1vw !important; */
    /* display: flex;
    justify-content: center;
   */
  }
   
}