*{
  margin: 0;
  padding: 0;
}
:root{
  --bg-light:yellow;
  --bg-dark:darkblue;
}

.about{
  width: 750px;
  height: 400px;
  background-color: var(--bg-light);
}
#dark .about{
  background-color: var(--bg-dark);
}

.theme-menu{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
  background-color: white;
  border: 1px solid;
}

.course-list{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.course-card{
  width: 250px;
  height: 100px;
  position: relative;
  z-index: 1;
}
/* .course-card:hover{
  z-index: 10;
} */
.card-cont{
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: aqua;
  padding: 10px;
  transition: 100ms;
  overflow: hidden;
}
.card-open{
  position: absolute;
  height: 200px;
  z-index: 10;
}
.card-cont p{
  margin-top: 40px;
}
.card-cont button{
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background: none;
}


.login{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(66, 66, 66, 0.293);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-cont{
  width: 30%;
  min-height: 300px;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}
.login-cont input{
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}
.login-cont button{
  width: 100%;
  height: 30px;
}