*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

/* ranglar almashinuvi uchun berilgan stillar */

:root {
  --text:white;
  --bg-cont: #202020;
  --nav-said: #363636;
  --text-cont: #cac7c7bf;
}
[data-theme="dark"] {
  --text: #111827;
  --bg-cont: #ffffff;
  --nav-said:#DFDFDF;
  --text-cont: #423e3ebf;

}


/* bodyga berilgan stillar */
body {
  font-family: cursive;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-cont);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

/* pagelardagi sectionlarga berilagan stillar */
section{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
.section-open{
  padding-left: 0;
}
/* oq qora rejim menyusi uchun berilgan stillar */
.theme-menu{
  /* background-color: var(--bg-cont); */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 10;
  border: 1px solid;
  top: 75px;
  right: 0;
}
/* .about-page{
  width: 100%;
  padding-left: 23vw;
  padding-top:10vw ;
} */

@media (max-width:500px) {
  section{
    padding-top: 4rem;
   
  }
   
}