*{
  margin: 0;
  padding: 0;
}
:root{
  --bg-light:yellow;
  --bg-dark:darkblue;
}

.about{
  width: 750px;
  height: 400px;
  background-color: var(--bg-light);
}
#dark .about{
  background-color: var(--bg-dark);
}

.theme-menu{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
  background-color: white;
  border: 1px solid;
}

.course-list{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 32px;
}
.course-card{
  background-color: aqua;
  border-radius: 15px;
  padding: 32px;

}